.blur-sm {
    backdrop-filter: blur(4px); !important; /* Nivel de desenfoque */
    -webkit-backdrop-filter: blur(4px); !important;/* Compatibilidad con navegadores WebKit */
}
/*Loader*/
.loader_action_animation_show{
    animation-timing-function: ease-in-out;
    animation: loader_show 0.5s forwards;
}
.loader_action_animation_hide{
    animation-timing-function: ease-in-out;
    animation: loader_hide 0.5s forwards;
}
.scale_animation{
    animation-timing-function: ease;
    animation: scale 0.7s forwards;
}
@keyframes loader_show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes loader_hide{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes scale{
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}
